.mainComponentHelpPage {
    height: 97% !important;
    overflow-y: hidden;

    .header{
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .contentContainer {
        width: 100%;
        padding-right: 0.8rem;
        padding-left: 0.8rem;
        margin-top: 0.8rem;
        overflow-y: auto;
        height: 75% !important;
    }

    .fontstyle {
        font-size: 0.875rem;
        font-weight: bold;
    }
}
